<app-nav-bar></app-nav-bar>
<div class="row">
    <form class="col s12" [formGroup]="createPoll" (ngSubmit) = "onSubmit()"> 
      <div class="row">
        <div class="input-field col s12">
          <input  formControlName="title" id="first_name" type="text" class="validate">
          <label for="first_name">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="description" id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      
      <div formArrayName="polls">
        <div class="row" *ngFor="let poll of createPoll.get('polls').controls; let i = index;">
          <div class="input-field col s12" [formGroupName]="i" [id]="i">
            <div class="input-field col s12">
              <input formControlName="description" [id]="'pollDescription' + i" type="text" class="validate">
              <label [for]="'pollDescription' + i">Description</label>
            </div>
          </div>
        </div>
      </div>
      
      <button type="button"  class="btn waves-effect waves-light" (click)="addPoll()">add poll</button>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
      
    </form>
  </div>